extends layout

block content
  div#overlay
  main.tab-content.container-fluid
    - var home = '', proyectos = '', archivero = '', equipos = '', mimebros = ''
    case tabActive
      when 'home'
        - home = 'active show'
        - break
      when 'proyectos'
        - proyectos = 'active show'
        - break
      when 'archivero'
        - archivero = 'active show'
        - break
      when 'equipos'
        - equipos = 'active show'
        - break
      when 'miembros'
        - miembros = 'active show'
        - break
      default 
        - home = 'active'
    div#home.tab-pane.fade.show.container(class=home)
      img(src="images/empty_state_proyect.png").img-fluid
      p Parece que está algo vacio por aqui, por qué no empezamos creando un <a href="#proyectos">proyecto</a>.
    div#proyectos.tab-pane.fade.container(class=proyectos)
      div#section0.section
        div.slide#slide1(data-anchor='slide1')
          div.titles.row
            div.col-md-4
              i.fa.fa-long-arrow-left
              span Ver Lista
            div.col-md-4.mt-3
              h4 Titulo del Proyecto
            div.col-md-4
              button.btn Terminar Proyecto
          div.row.data
            div.col-md-4.mb-2
              div.wrapper.ml-5
                img.img-thumbnail(src="images/osito.png")
                div.overlay <i class="fa fa-camera"></i> Subir Foto
            div.col-md-7.data-proyect
              div.row
                div.col-md-12.d-flex.justify-content-start
                  b DATOS DEL PROYECTO
              div.row
                div.col-md-4
                  b Nombre
                  p WordPress Version 2.
                div.col-md-4
                  b Fecha de Solicitud
                  p 12/03/2018
                div.col-md-4
                  b Fecha de Arranque
                  p 12/05/2018
              div.row
                div.col-md-12
                  b Product Owner
                  p Alejandro West
              div.row
                div.col-md-12
                  b Descripcion
                  p Photographs are a way of preserving a moment in our lives for the rest of our lives. Many of us have at least been tempted at the flashy array of photo printers which seemingly leap off the shelves at even the least tech-savvy. It surely seems old fashioned to talk about 35mm film and non-digital cameras in today’s day and age. To our children, cameras not so feature rich with LCD screens and built in Wi-Fi is as foreign as Atari.
          div.row.backlogs.mt-3
            div.col-md-4
              h3 Product Backlog
              div.header
                i.fa.fa-plus-square
              div.backlog
                div.pt-5
                  img(src="images/reader.png").img-fluid
                  p Para comenzar a organizar tu proyecto, empecemos a crear las <a href="#" id="openSideModal">tareas</a>
            div.col-md-4
              h3 Release Backlog
              div.header
              div.backlog
                div.pt-5
                  img(src="images/reader.png").img-fluid
                  p Una vez validadas tus tareas arrastralas a esta sección.
            div.col-md-4.config
              div.mt-4
                h4 Configurar Release
                i.fa.fa-long-arrow-right
              div.mt-3.teams
                h4#teams Equipos
                a(href="#") Agregar
                div.pt-5
                  img(src="images/baloom.png").img-fluid
                  p A nadie le gusta trabajar solo, comenzemos agregando <a href="#">equipos</a>
        div.slide#slide2(data-anchor='slide2')
          h1 slide 2  
        div.slide#slide3(data-anchor='slide3')
          h1 slide 3
    div#archivero.tab-pane.fade.container(class=archivero)
      div.d-flex.flex-row.mt-3
        div
          h2 Archivero de Proyectos
      div.mt-3.container-1
        img(src="images/panzon.png")
        p Parece que no tienes ningún proyecto archivado, pero no te asustes. Una vez que terminas tus proyectos podrás verlos aqui.
    div#equipos.tab-pane.fade.container(class=equipos)
      div.d-flex.mt-3
        div
          h2 Listado de Equipos
        div.ml-auto 
          button#addTeam.btn AGREGAR EQUIPO
      div.mt-3.container-1
        img(src="images/snoppy.png").img-fluid
        p Para poder agregar tus equipos primero necesitamos armarlos. Registra tus equipos <a href="#">aqui</a>.
    div#miembros.tab-pane.fade.container(class=miembros)
      div.d-flex.mt-3
        div
          h2 Listado de Miembros
        div.ml-auto 
          button.btn AGREGAR MIEMBROS
      div.mt-3.container-1
        img(src="images/abrazame.png").img-fluid
        p Oh no! Parece que aún no tienes miembros! Registra algunos <a href="#">aqui</a>.
        
block header
  header.navbar.sticky-top.margin-sidemenu.d-flex
    form.form-inline.mr-auto
      <input class="form-control mr-sm-2" type="search" placeholder="&#xf002; Busca lo que quieras..." aria-label="Search"></input>
    div.mr-4
      button.btn.btn-createProy.mr-3 Nuevo Proyecto
      a(href="/profile")
        img(src="images/leader.png").img-profile
    div.d-inline-block.mr-4
      a(href="/profile")
        p #{userName}
        p Perfil
      
block sidemenu
  div.sidenav
    img(src="images/logo.png")
    div.menu.mt-5
      div.nav.nav-tabs(role='tablist')
        - var home = '', proyectos = '', archivero = '', equipos = '', mimebros = ''
        case tabActive
          when 'home'
            - home = 'active'
            - break
          when 'proyectos'
            - proyectos = 'active'
            - break
          when 'archivero'
            - archivero = 'active'
            - break
          when 'equipos'
            - equipos = 'active'
            - break
          when 'miembros'
            - miembros = 'active'
            - break
          default 
            - home = 'active'
        a.nav-item.nav-link(class=home data-toggle='tab', role='tab', aria-selected='true', href='#home') Home
        a.nav-item.nav-link(class=proyectos data-toggle='tab', role='tab', aria-selected='true', href='#proyectos') Proyectos
        a.nav-item.nav-link(class=archivero data-toggle='tab', role='tab', aria-selected='true', href='#archivero') Archivero
        a.nav-item.nav-link(class=equipos data-toggle='tab', role='tab', aria-selected='true', href='#equipos') Equipos
        a.nav-item.nav-link(class=miembros data-toggle='tab', role='tab', aria-selected='true', href='#miembros') Miembros
      div.fixed-bottom.ml-5.mb-3
        a(href="/logout").logout
          img(src="images/logout.png").img-profile
    
block side-modal
  div#mySidenav.side-modal.pt-3
    h2.pl-3 Agregar Historia de Usuario
    form.pb-3.pl-3
      div.form-group
        label Narrativa de Historia
        input#history.form-control(type='text', placeholder='Escriba un nombre corto')
      div.form-row
        div.form-group.col-md-6
          label(for='priority') Prioridad
          input#priority.form-control(type='text', placeholder='Escriba la prioridad')
        div.form-group.col-md-6
          label(for='size') Tamaño
          input#size.form-control(type='text', placeholder='Escriba el tamaño')
      div.form-group
        label(for='how') Como
        textarea#how.form-control(rows='3', placeholder='Escriba como va a realizar la tarea…')
      div.form-group
        label(for='want') Quiero
        textarea#want.form-control(rows='3', placeholder='Escriba las funcionalidades de la tarea…')
      div.form-group
        label(for='way') De tal manera
        textarea#way.form-control(rows='3', placeholder='Escriba de que manera realizara la tarea…')
      div.form-group
        label(for='giveIt') Dado
        input#give.form-control(type='text', placeholder='Escriba dado algo')
      div.form-group
        label(for='when') Cuando
        input#when.form-control(type='text', placeholder='Escriba cuando algo')
      div.form-group
        label(for='then') Entonces
        input#then.form-control(type='text', placeholder='Escriba el Entonces de algo ')
      div.d-flex.justify-content-end
        button#closeSideModal.pr-2 Cancelar
        button Agregar
